<footer th:fragment="footer" id="footer" class="text-center">

  <script type="module" th:src="@{'/js/thirdParty/cookieconsent-config.js'}" th:if="${@analyticsEnabled}"></script>
  <div class="footer-center">
    <!-- Links section -->
    <div class="d-flex justify-content-center">
      <ul class="list-unstyled footer-link-list">
        <li><a class="footer-link px-2" id="licenses" target="_blank" th:href="@{'/licenses'}" th:text="#{licenses.nav}">Licenses</a></li>
        <li><a class="footer-link px-2" target="_blank" href="https://utilitiesdock.com/privacy-policy/" th:text="#{legal.privacy}">Privacy Policy</a></li>
      </ul>
    </div>

    <!-- powered by section -->
    <div class="footer-powered-by">
      <span th:text="#{poweredBy}"></span>
      <a th:href="${@contextPath}" class="brand-link">UtilitiesDock</a>
    </div>
  </div>
</footer>
